extends base.pug

block scripts
    script(src='/static/index.js')

block style 
    style 
        include ../static/styleAbout.css

block content
    section#introSection
        div About Winter's Dance Academy

    section#missionSection
        h2 Our Mission
        div.card
            h3 Dance the way you like
            div.card-box
                div.card-img
                    img(src="/static/img/2.png")
                div.card-content
                    p Winter Dance Academy was founded on the 19th of June 2008 by Shri Bhupinder Singh with a vision of providing quality dance education with high class professional infrastructure at affordable prices in Delhi. Today, Delhi Dance Academy is one of the better known names for high quality dance education, has been featured on various national and international TV channels and newspapers as the best in its field. DDA has been awarded “The Best Dance Academy in Delhi” and the “Certificate of Excellence” various times. More than academic accolades,  DDA prides itself for being featured on international media such as BBC 2, The Guardian and World Travel Guide. It stands as one of the country’s most visible dance institutes on the Internet with 2,00,000 visits in all of 2020.The academy provides opportunities like free masterclasses, paid international and national artist workshops and the annual stage show AVAJARRED to students.


    
